__pycache__/
build/
res/
*.pdf
pycluscious.cpython*
pycluscious.cpp
algo_exp/python/img/
algo_exp/python/processed/
algo_exp/python/*.pdf
shapes/ak*
shapes/dc*
shapes/de*
shapes/mt*
shapes/nd*
shapes/sd*
shapes/wy*
shapes/vt*
shapes/*blocks*
shapes/*bgroup*
