__pycache__/
build/
res/
*.pdf
pycluscious.cpython*
pycluscious.cpp
algo_exp/python/img/
algo_exp/python/processed/
algo_exp/python/*.pdf
demographic/ak_race.csv
demographic/al_race.csv
demographic/ar_race.csv
demographic/az_race.csv
demographic/ca_race.csv
demographic/co_race.csv
demographic/ct_race.csv
demographic/dc_race.csv
demographic/de_race.csv
demographic/ga_race.csv
demographic/hi_race.csv
demographic/ia_race.csv
demographic/id_race.csv
demographic/in_race.csv
demographic/ks_race.csv
demographic/ky_race.csv
demographic/ma_race.csv
demographic/me_race.csv
demographic/mi_race.csv
demographic/mo_race.csv
demographic/ms_race.csv
demographic/mt_race.csv
demographic/nd_race.csv
demographic/ne_race.csv
demographic/nh_race.csv
demographic/nj_race.csv
demographic/nm_race.csv
demographic/nv_race.csv
demographic/ny_race.csv
demographic/oh_race.csv
demographic/ok_race.csv
demographic/or_race.csv
demographic/ri_race.csv
demographic/sc_race.csv
demographic/sd_race.csv
demographic/tn_race.csv
demographic/ut_race.csv
demographic/vt_race.csv
demographic/wa_race.csv
demographic/wv_race.csv
demographic/wy_race.csv
shapes/ak*
shapes/al*
shapes/ar*
shapes/az*
shapes/ca*
shapes/co*
shapes/ct*
shapes/dc*
shapes/de*
shapes/ga*
shapes/hi*
shapes/ia*
shapes/id*
shapes/in*
shapes/ks*
shapes/ky*
shapes/ma*
shapes/me*
shapes/mi*
shapes/mo*
shapes/ms*
shapes/mt*
shapes/nd*
shapes/ne*
shapes/nh*
shapes/nj*
shapes/nm*
shapes/nv*
shapes/ny*
shapes/oh*
shapes/ok*
shapes/or*
shapes/pa_blocks*
shapes/ri*
shapes/sc*
shapes/sd*
shapes/tn*
shapes/ut*
shapes/va*
shapes/va_blocks*
shapes/vt*
shapes/wa*
shapes/wv*
shapes/wy*
